body {
  background-color: #fff7e4;
}

.container {
  display: flex;
  flex-direction: column;
  height: 94vh;
  margin: 0 auto;
  background-color: white;
  width: 340px;
}

.topbar {
  height: 40px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select-area {
  margin-top: -10px;
  width: 25% ;
  height: 25px;
}
.select_indicator {
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.select-area .select{
  border: none;
  appearance: none;
  height: 25px;
  width: 100%;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.select {
  position: relative;
}
.select-opions-area {
  z-index: 1;
  padding: 5px 0;
  top: 25px;
  left: 8px;
  width: 80%;
  position: absolute;
  visibility: hidden;
  border: black 1px solid;
}

.select-area .select .option {
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
}

.select-area .select .option:hover {
  cursor: pointer;
}

.select-area p {
  text-align-last: center;
  direction: ltr;
  -webkit-box-align: center;
  text-align: center;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.sound {
  height: 25px;
  width: 25% ;
  background: no-repeat;
  background-position: center;
  background-image: url("../assets/icons/audio.svg");
}

.sound:hover {
  cursor: pointer;
}

.options{
  width: 25%;
  text-align: center;
  position: relative;
}

.options:hover {
  cursor: pointer;
}

.options img {
  height: 25px;
  width: 25px;
}

.options-list{
  z-index: 2;
  background-color: #fcfcfc;
  visibility: hidden;
  position: absolute;
  width: 320px;
  right: 10px;
}

.options-list label {
  width: 75%;
}

.options-list ul {
  list-style: none;
}

.option-item {
  display: flex;
  align-items: center;
}

.option-item input {
  text-align: center;
  width: 15%;
  height: 20px;
  border: none;
  background-color: inherit;
}

.option-item p {
  width: 10%;
  background-color: inherit;
  padding: 0 3px 0 3px;
}

.questmark {
  width: 25%;
  text-align: center;
}

.questmark:hover{
  cursor: pointer;
}

.questmark img {
  height: 25px;
  width: 25px;
}


.signalArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10px;
  position: relative;
  height: 70%;
}

.ads_area {
  width: 97%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: flex-start; */
}

.ads{
  margin: auto;
  width: 100px;
  height: 10%;
}
.ads a {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ads a img {
  height: inherit;
}

.instruction {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 147%;
  font-size: small;
  visibility: hidden;
  background-color: #fff;
  color: #000;
}

.instruction article{
  height: 100%;
  overflow-y: scroll;
  margin: 0 10px;
}

.instruction article p{
  margin: 5px 10px;
}
.instruction article p ul {
  margin: 0;
}


.color {
  top: 0;
  right: 0;
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(205, 29, 29);
}

.countdown {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
}

.red {
  width: 100%;
  height: 200px;
  background-color: white;
}

.start-btn {
  margin: 0px auto;
  border: 0;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
  line-height: 20px;
  font-size: 60px;
  background-color: green;
  width: 100%;
  height: 30%;
  }

#instruction-img-gear {
  width: 10px;
  height: 10px;
}

@media (max-height: 310px) {
  .start-btn {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .ads_area {
    width: 100%;
  }
  .ads {
    height: 7%;
  }
}